<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668887050716-qp0mbhrhp70p463lcfc5efkptiembddb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668887050716-qp0mbhrhp70p463lcfc5efkptiembddb</string>
	<key>API_KEY</key>
	<string>AIzaSyCXWuOu8R3a_fxgHbzLTtr2M1LDXuml7WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>668887050716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jogjainternational.joinmun</string>
	<key>PROJECT_ID</key>
	<string>joinmun-864f5</string>
	<key>STORAGE_BUCKET</key>
	<string>joinmun-864f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:668887050716:ios:175a09c8c480c6df2f0719</string>
	<key>DATABASE_URL</key>
	<string>https://joinmun-864f5.firebaseio.com</string>
</dict>
</plist>
